html, body
{
    margin: 0;
    padding: 0;
    background-color:rgb(64, 64, 64);
}

h1, h2
{
    margin: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    font-family:bahnschrift;
    line-height: 50px;
    color:rgb(200, 200, 200);
    text-align:center;
    background-color: rgb(35, 35, 35);
}

h3
{
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding-top: 5px;
    line-height: 0;
    font-family:bahnschrift;
    color:rgb(200, 200, 200);
    text-align:center;
    background-color:rgb(0, 79, 158);
}

p
{
    font-family:bahnschrift;
    color:rgb(200, 200, 200);
    text-align:center;
}

a:link    { text-decoration: none; color: rgb(0, 148, 255); }
a:visited { text-decoration: none; color: rgb(0, 148, 255); }
a:hover   { text-decoration: none; color: rgb(200, 200, 200); }
a:active  { text-decoration: none; color: rgb(200, 200, 200); }